.header {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

.header__container {
    display: flex;
}

.logo {
    margin-right: auto;
    
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #212121;

    & span {
        
        color: var(--accent-color);
    }
}

.burger {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    
    border: none;
    background-color: transparent;

    &:hover {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 40px 48px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear,
    visibility 250ms linear;

    &.is-open { 
        opacity: 1;
        visibility: visible;
        pointer-events: all;
}
}


.mobile-nav {
    display: flex;
    flex-direction: column;
}

.mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;

    &:hover {
        color: var(--accent-color);
    }

    &--current {
        color: var(--accent-color);
    }
}

.mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mobile-menu__icon-close:hover {
    fill:var(--accent-color);
}

.mobile-menu__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
}

.mobile-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

.mobile-menu__contacts {
    margin-bottom: 64px;
}

.mobile-menu__social {
    display: flex;
}

.mobile-menu__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    margin-left: 88px;
    margin-right: auto;

    display: flex;

    @media screen and (max-width:767px) {
        display: none;
    }
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: var(--accent-color);
    }

    &--current {
        color: var(--accent-color);
        position: relative;

        &::after {
            content: '';

            width: 100%;
            height: 4px;

            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
}

.contacts {
    margin-left: auto;
    display: flex;
    justify-content: center;

    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}

.contacts__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:first-child {
            margin-bottom: 10px;
    }
}

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    fill: currentColor;

    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}