.hero {
    padding: 118px 60px;
    background-image: url(../images/hero/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}


.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.hero__button {
    @extend %button;

    padding: 10px 32px;
}