.filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--portfolio-button-text-color);
    background-color: var(--portfolio__item-bg-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: color var(--animation),
        background-color var(--animation),
        box-shadow var(--animation);

    &:hover,
    &:focus,
    &:active {
        color: var(--hover-focus-button-color);
        background: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.portfolio__link {
    display: flex;
    flex-wrap: wrap;
    transition: background-color var(--animation),
        box-shadow var(--animation);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__card {
    width: 100%;
    padding: 20px 24px;
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
    border-left: 1px solid var(--portfolio-border-color);
}

.portfolio__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    padding: 63px 24px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--animation);

    .portfolio__link:hover & {
        transform: translateY(0);
    }
}