:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --section-padding-mobile: 60px;
    --section-padding-desktop: 94px;
    --title-color: #212121;
    --side-container-padding: 15px;
    --accent-color: #2196F3;
    --text-color: #757575;
    --nav-links-color: #212121;
    --hero-title-color: #ffffff;
    --hover-focus-button-color: #188CE8;
    --nav-logo-color: #212121;
    --team-section-bg: #F5F4FA;
    --modal-bg-color: #ffffff;
    --clients-color: #afb1b8;
    --footer-bg-color: #2F303A;
    --footer-logo-color: #ffffff;
    --portfolio-border-color: #eeeeee;
    --podtfolio-btn-color: #F5F4FA;
    --section-padding-mobile: 60px;
    --section-padding-desktop: 94px;
    --section__title-font-weight: 700;
    --button-text-color: #ffffff;
    --features-background-color: #F5F4FA;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

