:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --title-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --nav-links-color: #212121;
    --hero-title-color: #ffffff;
    --hero-button-color: #2196F3;
    --hover-focus-button-color: #ffffff;
    --title-color: #212121;
    --bg-color: #2F303A;
    --nav-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --portfolio-button-text-color: #212121;
    --portfolio__item-bg-color: #F5F4FA;
    --bg-secondary-section-color: #F5F4FA;
    --bg-teammate__card: #ffffff;
    --portfolio-border-color: #EEEEEE;
    --section-padding: 94px;
    --section__title-font-weight: 700;
    --button-text-color: #ffffff;
    --features-background-color: #F5F4FA;
    --clients-color: #afb1b8;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}